*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper-header {
  background-color: #1a1915;
  height: 540px;
  margin: 0 auto;
  background-image: url(../img/Background768px.png);
background-position: center;
background-repeat: no-repeat;
}
.site-name {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.headline {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.headline-descr {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 16px;
}

.partners-headline {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 18px;
  padding-top: 70px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.partner-picture {
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
  cursor: pointer;
  transition: 1.5s;
}
.partner-picture::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 84px;
  bottom: -4px;
  border: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}
.cards-list [class*="col-"]:nth-of-type(1) .partner-card .partner-picture::after {
  background-color: #ff4e50;
  background-image: url(../img/partner1-icon.png);
}
.cards-list [class*="col-"]:nth-of-type(2) .partner-card .partner-picture::after {
  background-color: #ffa507;
  background-image: url(../img/partner2-icon.png);
}
.cards-list [class*="col-"]:nth-of-type(3) .partner-card .partner-picture::after {
  background-color: #1cd7ad;
  background-image: url(../img/partner3-icon.png);
}
.cards-list [class*="col-"]:nth-of-type(4) .partner-card .partner-picture::after {
  background-color: #4e73db;
  background-image: url(../img/partner4-icon.png);
}
.cards-list{
  margin-bottom: 40px;
}
.partner-card { 
  text-align: center;
}
.partner-card:hover .partner-picture{
    transform: scale(1.2);
}
.partner-name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 20px;
}
.partner-info {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #666666;
  font-weight: 300;
}
.nav-link{
  text-align: center;
  display: block;
  width: 90px;
  height: 34px;
  line-height: 34px;
  background: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid transparent;
}
.nav-link:hover{
  border: 2px solid white;
  border-radius: 50px;
}
.site-nav{
  display: flex;
  padding-top: 20px;
  justify-content: center;
  margin-bottom: 110px;
}
.find-partner {
  display: block;
  width: 280px;
  height: 40px;
  background: #ff4e50;
  outline: none;
  border: none;
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  cursor: pointer;
  margin: 0 auto;
  transition: 1.5s;
}
.find-partner:hover{
    transform: scale(1.1)
}
.other-partners {
  display: block;
  width: 280px;
  height: 40px;
  /* margin: 0 auto; */
  border: 2px solid #ff4e50;
  border-radius: 50px;
  color: #ff4e50;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  background: none;
  cursor: pointer;
  transition: 1s;
  margin-bottom: 40px;
}
.other-partners:hover{
    transform: scale(1.1);
}
@media (max-width: 767px) {
  .site-name{
    margin-bottom: 30px;
  }
  .cards-list [class*="col-"]:not(:last-child) {
    margin-bottom: 26px;
  }
}
@media (min-width: 768px) {
  .wrapper-header {
    height: 700px;
    background-color: #1a1915;
  }
  .site-name{
    padding-top: 30px;
  }
  .site-nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 156px;
  }
  .headline {
    font-size: 51.9px;
    margin-bottom: 26px;
  }
  .headline-descr {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .other-partners{
      width: 192px;
  }
  .partner-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 70px;
  }
  .partners-headline{
      margin-bottom: 36px;
  }
}
@media (min-width: 960px){
.wrapper-header{
    background-color: #1a1915;
    background-image: url(../img/Background1024px.png);
    background-position: center;
    background-repeat: no-repeat;
}
}