*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box1, .box2{
    border-radius: 50%; 
    background-color: rgb(255, 255, 255);
width: 200px;
height: 200px;
display: block;
margin: 50px;
box-shadow: 2px 4px 4px grey;
}
.box1{
    border: 3px solid rgb(141, 80, 197);
}
.box2{
    margin-left: -10px;
    margin-top: -235px;
    border: 3px solid rgb(214, 211, 13);
    background-color: rgb(255, 255, 255);
}