.page-footer {
  border-top: 1px solid $primary-border-color;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rights {
  display: flex;
  align-items: center;
  font-family: $main-font-stack;
  font-weight: 400;
  font-size: $main-font-size;
}

.page-footer__rights span {
  color: $main-pink-color;
  padding-left: 6px;
}

.page-footer__subscribe {
  display: flex;
  width: 380px;
  height: 40px;
}

.subscribe-input {
  color: $main-dark-color;
  width: 228px;
  height: 40px;
  font-family: $main-font-stack;
  outline: none;
  border: 1px solid $primary-inputborder-color;
}


.subscribe-input::placeholder {
  color: $primary-placeholder-color;
  font-family: $descr-font-stack;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}

.contact-form__button {
  font-family: $main-font-stack;
  font-weight: 700;
  color: $main-white-color;
  font-size: 14px;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  border: none;
  background-color: $primary-bg-color;
  cursor: pointer;
  transition: 1s;
  
  &:hover {
    transform: scale(1.1);
    background-color: $hover-botton-color;
  }
  
  &:focus {
    background-color: $focus-botton-color;
  }
  
}

