* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.price-filter {
  width: 300px;
  margin: 100px auto;
}
.range-control {
    padding: 0 20px;
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
  margin-bottom: 25px;
  background-color: rgb(212, 207, 207);
}
.range-control .scale {
  flex: 0 0 100%;
  height: 3px;
  background-color: rgb(138, 135, 135);
}
.range-control .bar {
  height: 3px;
  background-color: rgb(172, 54, 103);
}
.range-toggle {
  display: inline-block;
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: rgb(138, 135, 135);
  border-radius: 50px;
  border: 8px solid #ffffff;
  /* top: 50%;
  transform: translateY(-50%); */
  cursor: pointer;
  box-shadow: 0 2px 1px 0 #8a8585;
}
.range-toggle-max{
    right: 80px;
}