* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/montserrat-v13-latin-600.woff2") format("woff2"),
    url("../fonts/Montserrat/montserrat-v13-latin-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/montserrat-v13-latin-700.woff2") format("woff2"),
    url("../fonts/Montserrat/montserrat-v13-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(../fonts/RobotoSlab/roboto-slab-v8-latin-regular.woff2)
      format("woff2"),
    url(../fonts/RobotoSlab/roboto-slab-v8-latin-regular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
.container {
  width: 1400px;
  margin: 0 auto;
}
.page-nav {
  padding-top: 50px;
  width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 110px;
}
.site-logo {
  display: inline-block;
  animation: logo-appear 1.5s linear;
}
.site-logo img {
  display: block;
  max-width: 100%;
  height: auto;
}
@keyframes logo-appear{
    0%{
        opacity: 0;
        transform: translatex(600px);  
    }

    90%{
        opacity: 1;
        transform: translateX(-200px);  
    }
    100%{
        transform: translateX(0px);
    }
}
.site-nav {
  font-size: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  list-style: none;
  width: 485px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-nav li {
  display: block;
}
.site-nav a {
  display: block;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  color: #222222;
  transition: 0.3s linear;
}
.site-nav a:hover {
  color: #fed136;
}
.services {
  width: 940px;
  margin: 0 auto;
}
.services-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  line-height: 75px;
  text-transform: uppercase;
  color: #222222;
}
.title2 {
  text-align: center;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  font-style: italic;
  color: #777777;
  margin-bottom: 78px;
}
.services-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}
.service-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 24px;
}
.service-item {
  text-align: center;
  width: 290px;
}
.service-item::before {
  content: "";
  display: inline-block;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  border: 3px solid #fed136;
  border-radius: 50%;
  margin-bottom: 22px;
}
.service-item:nth-child(1)::before {
  background-image: url(../img/Icon-Basket.png);
}
.service-item:nth-child(2)::before {
  background-image: url(../img/Icon-Laptop.png);
}
.service-item:nth-child(3)::before {
  background-image: url(../img/Icon-Locked.png);
}
.service-descr {
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  color: rgb(119, 119, 119);
  line-height: 1.2;
}
.page-footer {
  background-color: #222222;
  background-image: url(../img/Map_Image.png);
  background-repeat: no-repeat;
  background-position: 790px 140px;
  width: 1400px;
  margin: 0 auto;
}
.page-footer-wrapper {
  width: 940px;
  margin: 0 auto;
  padding-bottom: 114px;
}
.contact-title {
  padding-top: 100px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 75px;
  text-transform: uppercase;
  color: #ffffff;
}
.form-info {
  height: 212px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
input[type="email"],
input[type="text"]{
    width: 455px;
  height: 50px;
  padding-left: 20px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgb(119, 119, 119);
}
 
.contact-form .required:valid{
    outline: 2px solid green;
}
.contact-form .required:invalid{
    outline: 2px solid red;
}
/* .contact-form input[name="UserName"]:valid{
  outline: 2px solid green;
}
.contact-form input[name="UserName"]:invalid{
  outline: 2px solid rgb(240, 17, 17);
} */
textarea {
  width: 455px;
  height: 210px;
  padding: 20px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgb(119, 119, 119);
}
textarea::placeholder,
input[type="text"]::placeholder,
input[type="email"]::placeholder {
  color: #bbbbbb;
  text-transform: uppercase;
}
button {
  display: block;
  height: 65px;
  width: 240px;
  border: 1px solid rgb(254, 209, 54);
  border-radius: 3px;
  background-color: rgb(254, 209, 54);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  margin: 28px auto;
}

  