$main-white-color:#ffffff;
$primary-placeholder-color: #cccccc;
$primary-inputborder-color: #e7e7e7;
$primary-border-color: #e5e5e5;
$main-accent-color:#fce38a;
$main-pink-color:#f38181;
$main-dark-color:#333333;
$main-gray-color:#999999;
$primary-bg-color: #95e1d3;
$hover-botton-color:#28ccae;
$focus-botton-color: #13977f;
$main-font-size: 14px;
$main-font-stack:'Montserrat', sans-serif;
$secondary-font-stack: "Kaushan Script", cursive;
$descr-font-stack: 'Roboto', sans-serif; 